#box1 {
    border: 1px solid;
    height: 200px;
    width: 200px;
    background-color: skyblue;

    position: relative;
    top: 85px;
    left: 185px;



    /* relative - move element relative to some point of origin */
    /* position : positioning of the element */
    /* position: static; default case */
}

body {
    font-size: 21px;
}

/* position : finds nearest positioned parent and goes to setting itself relative to that */
/* even if the parent donot have the position transform, filter and perspective property acts as position */
/* so if some positioning  is done and if any of those proerty is used : makes parent position if in case used */
/* absolute position makes element fly in z-index, remove from the normal flow of the document */
#box2 {
    border: 1px solid;
    height: 100px;
    width: 100px;
    background-color: tomato;

    /* search for non-static positioned parent */
    position: absolute;
    /* absolute positioning ignores the element(taken out of the flow) */
}

#box3 {
    border: 1px solid;
    height: 300px;
    width: 300px;
    background-color: skyblue;

    position: relative;
    left: 450px;

}

/* box 4 follows the parent */
/* if no parent is there it uses the viewport */
#box4 {
    border: 1px solid;
    height: 100px;
    width: 100px;
    background-color: tomato;

    /* search for non-static positioned parent */
    position: absolute;
    top: 100px;
    left: 100px;
    /* absolute positioning ignores the element(taken out of the flow) */
}

#box5 {
    border: 1px solid;
    height: 200px;
    width: 200px;
    background-color: blueviolet;

    /* fixed makes the element stick to the position */
    position: fixed;
    bottom: 0px;
    right: 0px;
}

#box6 {
    border: 1px solid;
    height: 100px;
    width: 100px;
    background-color: royalblue;

    position: absolute;
    top: 50px;
    left: 50px;
}

#box7 {
    border: 1px solid;
    height: 200px;
    width: 200px;
    background-color: greenyellow;

    /* fixed makes the element stick to the position TOP */
    position: sticky;
    top: 0px;
    right: 0px;
}

#box8 {
    border: 1px solid;
    height: 100px;
    width: 100px;
    background-color: orange;

    position: absolute;
    top: 50px;
    left: 50px;
}

#box9 {
    border: 1px solid;
    height: 200px;
    width: 200px;
    background-color: lightcoral;

    /* fixed makes the element stick to the position BOTTOM */
    position: sticky;
    bottom: 0px;
    right: 0px;
}

#box10 {
    border: 1px solid;
    height: 100px;
    width: 100px;
    background-color: magenta;

    position: absolute;
    top: 50px;
    left: 50px;
}

/* sticky makes the element stick to the position */