body{
    background-color: rgb(5, 255, 5);
}

div{
    height: 100px;
    width: 100px;
    border: 2px solid;
    background-color: rgb(228, 51, 51);
}


@media all and (max-width:600px) {
    body{
    background-color: yellow;
    }
    div{
        background-color: aqua;
    }
}