body{
    margin: 0;
    background-color: #222222;
}

.box{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    font: 100 2rem cursive;
    color: white ;
    border: 2px solid red;
}