p {
    border-style: inset;
    border-width: 10px;
    border-color: cadetblue;
    padding: 18px;
    border-radius: 45px;
}


h1 {
    border-top-style: dashed;
    border-bottom-style: dashed;
    border-left-style: double;
    border-left-width: 28px;
    border-left-color: goldenrod;
    /* border-right-style: double;
    border-right-width: 28px;
    border-right-color: goldenrod; */
    padding: 30px;   
}